{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}T's Sourdough and Such{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'logo.jpg' %}" alt="T's Sourdough and Such Logo" class="logo">
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Contact me via Facebook <a href="https://www.facebook.com/profile.php?id=61573157506247" target="_blank">here</a> to submit your order!</p>
        <p>(Web-based ordering coming soon subject to popularity)</p>
        <p>&copy; 2025 T's Sourdough and Such. All rights reserved.</p>
    </footer>
</body>
</html>