<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        
        <img src="{% static 'logo.jpg' %}" alt="Logo" class = "logo">
    
    </header>

    <main>
        
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>Contact me via facebook <a href="https://www.facebook.com/profile.php?id=61573157506247" target="_blank">here</a> to submit your order! (Web-based ordering coming soon subject to popularity)</p>
        <p>&copy; 2025 T's Sourdough and Such</p>
    </footer>
</body>
</html>
