/* static/style.css */

body {
    background-color: #f5f5dc; /* Light tan */
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
     background-color: #000000; /* Light tan */
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

footer {
     background-color: #000000; /* Light tan */
    padding: 15px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
